# executable files created w/in the repo
preprocessing_tests
HwRMSD
MMalign
NWalign
TMalign
TMscore
USalign
addChainID
cif2pdb
pdb2fasta
pdb2ss
pdb2xyz
pdbAtomName
qTMclust
se
xyz_sfetch

# compiled python code
*.pyc

# vim temporary backup
.*.sw*
*~

# pybind11 work
*so

# binary executables
addChainID
cif2pdb
TMalign
TMalignc
pdb2xyz
pdb2fasta
pdb2ss
xyz_sfetch
se
qTMclust
USalign
NWalign
HwRMSD
MMalign
TMscore
pdbAtomName
*.exe
*.zip

.idea
cmake-build-debug
.vscode/settings.json
